body {
    background-color: #375eab;
    color: #FFFFFF;
    padding: 0.5em;
    font-family: 'Roboto', 'Inconsolata', 'Lato';
}

.devices {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    width: 90%;
    background-color: #F0F0F0;
    color: #000000;
    font-size: 1.1em;
    padding: 0.4em;
    text-align: middle;
    overflow: hidden;
}
